# Ignore Python cache/compiled files
__pycache__/
*.pyc

# Ignore virtual environments
.venv/
env/
venv/

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore macOS system files
.DS_Store

